body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:149px;
  width:127px;
  height:25px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:444px;
  width:181px;
  height:17px;
  display:flex;
  font-size:12px;
}
#u2470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2470_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:44px;
  background:inherit;
  background-color:rgba(47, 120, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 2px 20px rgba(47, 120, 255, 0.2);
  -webkit-box-shadow:0px 2px 20px rgba(47, 120, 255, 0.2);
  box-shadow:0px 2px 20px rgba(47, 120, 255, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:391px;
  width:325px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:326px;
  height:12px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:358px;
  width:315px;
  height:1px;
  display:flex;
}
#u2474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2474_img.selected {
  left:-10px;
  top:-8px;
  width:336px;
  height:22px;
}
#u2474.selected {
}
#u2474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2475_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2475_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:326px;
  width:246px;
  height:25px;
  display:flex;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2475_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2475.disabled {
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:331px;
  width:15px;
  height:15px;
  display:flex;
}
#u2476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:277px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
}
#u2479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:326px;
  height:12px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:305px;
  width:315px;
  height:1px;
  display:flex;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
}
#u2480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2480_img.selected {
  left:-10px;
  top:-8px;
  width:336px;
  height:22px;
}
#u2480.selected {
}
#u2480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2481_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2481_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:270px;
  width:171px;
  height:25px;
  display:flex;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2481_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2481.disabled {
}
#u2482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2F78FF;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:275px;
  width:61px;
  height:20px;
  display:flex;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2F78FF;
}
#u2482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2483 {
  position:absolute;
  left:376px;
  top:272px;
  visibility:hidden;
}
#u2483_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2483_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  display:flex;
}
#u2484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2483_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2483_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  display:flex;
}
#u2485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:326px;
  height:12px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:247px;
  width:315px;
  height:1px;
  display:flex;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
}
#u2487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2487_img.selected {
  left:-10px;
  top:-8px;
  width:336px;
  height:22px;
}
#u2487.selected {
}
#u2487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2488_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:213px;
  width:207px;
  height:25px;
  display:flex;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2488_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u2488.disabled {
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:220px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
}
#u2489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:216px;
  width:37px;
  height:17px;
  display:flex;
  font-family:'思源黑体';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.788235294117647);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:411px;
  width:233px;
  height:44px;
  display:flex;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.788235294117647);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:411px;
  width:233px;
  height:44px;
  display:flex;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:384px;
  width:150px;
  height:112px;
  display:flex;
}
#u2496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:459px;
  width:71px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2497_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:411px;
  width:40px;
  height:31px;
  display:flex;
}
#u2498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:68px;
  width:375px;
  height:44px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u2500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:81px;
  width:12px;
  height:18px;
  display:flex;
}
#u2501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.788235294117647);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:410px;
  width:138px;
  height:44px;
  display:flex;
  font-family:'思源黑体 Medium', '思源黑体';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:74px;
  width:90px;
  height:32px;
  display:flex;
}
#u2506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:80px;
  width:1px;
  height:20px;
  display:flex;
}
#u2507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:77px;
  width:26px;
  height:26px;
  display:flex;
}
#u2508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:79px;
  width:23px;
  height:23px;
  display:flex;
}
#u2509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:816px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.309803921568627);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:26px;
  width:375px;
  height:816px;
  display:flex;
}
#u2511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:38px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:616px;
  width:375px;
  height:225px;
  display:flex;
}
#u2512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:664px;
  width:374px;
  height:1px;
  display:flex;
}
#u2513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:632px;
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u2514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:711px;
  width:374px;
  height:1px;
  display:flex;
}
#u2515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:677px;
  width:129px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u2516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2517_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:380px;
  height:11px;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:760px;
  width:374px;
  height:5px;
  display:flex;
}
#u2517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:727px;
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u2518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:784px;
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u2519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:370px;
  width:150px;
  height:112px;
  display:flex;
}
#u2521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:444px;
  width:43px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2522 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2522_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:397px;
  width:40px;
  height:31px;
  display:flex;
}
#u2523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:112px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.749019607843137);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:371px;
  width:150px;
  height:112px;
  display:flex;
}
#u2525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:445px;
  width:43px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u2526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2526_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:398px;
  width:40px;
  height:31px;
  display:flex;
}
#u2527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:805px;
  width:373px;
  height:59px;
  display:flex;
}
#u2530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
  display:flex;
}
#u2531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:61px;
  width:30px;
  height:803px;
  display:flex;
}
#u2532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:30px;
  height:803px;
  display:flex;
}
#u2533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:8px;
  background:inherit;
  background-color:rgba(26, 28, 33, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:821px;
  width:204px;
  height:8px;
  display:flex;
}
#u2534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:26px;
  width:375px;
  height:44px;
  display:flex;
}
#u2535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
