body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u642 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:79px;
  width:1200px;
  height:900px;
}
#u642_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:900px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:900px;
}
#u643_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:900px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1588px;
  height:1304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1588px;
  height:1304px;
  display:flex;
}
#u645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:145px;
  width:113px;
  height:40px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#2F78FF;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:145px;
  height:50px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#2F78FF;
}
#u648 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u648_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:11px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:108px;
  width:50px;
  height:5px;
  display:flex;
}
#u649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:222px;
  width:60px;
  height:60px;
  display:flex;
}
#u651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:287px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u652 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u652_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:222px;
  width:60px;
  height:60px;
  display:flex;
}
#u654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:287px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u655_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:222px;
  width:60px;
  height:60px;
  display:flex;
}
#u657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:287px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:222px;
  width:60px;
  height:60px;
  display:flex;
}
#u660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:287px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u661_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:222px;
  width:60px;
  height:60px;
  display:flex;
}
#u663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:287px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u664_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u666 {
  position:fixed;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u666_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:79px;
  background:inherit;
  background-color:rgba(47, 120, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(242, 242, 242, 0.349019607843137);
  text-align:left;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:79px;
  display:flex;
  text-align:left;
}
#u667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u668 {
  position:fixed;
  left:50%;
  margin-left:-475px;
  top:14px;
}
#u668_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:950px;
  height:53px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:6px;
  width:65px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u671_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:6px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u672_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u672.selected {
}
#u672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:6px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u673_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u673.selected {
}
#u673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:6px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u674_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u674.selected {
}
#u674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:6px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u675_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u675.selected {
}
#u675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:6px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u676_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u676.selected {
}
#u676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:6px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u677_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u677.selected {
}
#u677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 51, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:6px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u678_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 Bold', '思源黑体 Regular', '思源黑体';
  font-weight:700;
  font-style:normal;
}
#u678.selected {
}
#u678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:190px;
  height:313px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:61px;
  width:160px;
  height:283px;
  display:flex;
}
#u680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:54px;
  width:20px;
  height:9px;
  display:flex;
}
#u681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:80px;
  width:62px;
  height:24px;
  display:flex;
}
#u683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:118px;
  width:117px;
  height:1px;
  display:flex;
}
#u684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:136px;
  width:72px;
  height:24px;
  display:flex;
}
#u686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:173px;
  width:117px;
  height:1px;
  display:flex;
}
#u687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:192px;
  width:53px;
  height:24px;
  display:flex;
}
#u689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:229px;
  width:117px;
  height:1px;
  display:flex;
}
#u690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:246px;
  width:72px;
  height:24px;
  display:flex;
}
#u692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:287px;
  width:117px;
  height:1px;
  display:flex;
}
#u693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:302px;
  width:72px;
  height:24px;
  display:flex;
}
#u695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:2px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:343px;
  width:117px;
  height:1px;
  display:flex;
}
#u696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  height:50px;
  display:flex;
}
#u697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
